name: "Publish Metrics for Scratch Org Pools"
on:
  workflow_dispatch:
  schedule:
    # Every 15 minutes
    - cron: "15 * * * *"

env:
  SFPOWERSCRIPTS_DATADOG: "true"
  SFPOWERSCRIPTS_DATADOG_HOST: "${{ vars.DATADOG_HOST }}"
  SFPOWERSCRIPTS_DATADOG_API_KEY: "${{ secrets.DATADOG_API_KEY }}"

jobs:
  publish:
    name: "Publish Metrics"
    runs-on: ubuntu-latest
    container: ghcr.io/b64hub/dx-actions/sfdx-alpine:main
    steps:
      - name: "Authenticate Dev Hub"
        run: |
          echo "${{ secrets.DEVHUB_SFDX_AUTH_URL }}" > ./authfile
          sfdx auth sfdxurl store -f authfile -a devhub

      - name: "Publish metrics"
        run: sfpowerscripts pool:metrics:publish -v devhub
