name: "Replenish CI Pools - Auto Triggered"

on:
  workflow_dispatch:
    inputs:
      git-ref:
        description: "Commit Id from where the pools should be created"
        required: false
        default: "main"
  schedule:
    - cron: "0 14 * * *"

jobs:
  prepare-pool:
    strategy:
      matrix:
        pool-tag: [ci, dev]
    uses: b64hub/dx-actions/.github/workflows/prepare-pool.yml@main
    with:
      pool-tag: ${{ matrix.pool-tag }}
      git-ref: ${{ inputs.git-ref }}
    secrets:
      DEVHUB_SFDX_AUTH_URL: ${{ secrets.DEVHUB_SFDX_AUTH_URL }}
    env:
      SFPOWERSCRIPTS_DATADOG: "true"
      SFPOWERSCRIPTS_DATADOG_HOST: "${{ secrets.DATADOG_APP_KEY }}"
      SFPOWERSCRIPTS_DATADOG_API_KEY: "${{ secrets.DATADOG_API_KEY }}"
